body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=email], input[type=text], ol, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
ol, li { padding-left: 2em;}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.invalid{ border: 2px solid #c44; } .error{ color:red}  .hide {display:none}